In [2]:
import dask
import pandas as pd

In [ ]:
df = pd.read_csv("../data/property_data/2023_property_data.csv")

In [5]:
df.drop(axis=1,columns=["Unnamed: 0","property_id","sale_counter","property_name","unit_number","house_number","street_name","strata_lot_number",
                        "sale_code","interest_percentage","dealing_number"],inplace=True)

In [9]:
df.isna().sum()

district_code             0
download_datetime         0
locality                  0
post_code                 2
area                  41169
area_type             41169
contract_date            11
settlement_date           0
purchase_price            0
zoning                76001
nature_of_property        0
primary_purpose           7
component_code        76001
dtype: int64

In [10]:
# removing rows without postcodes
df= df[df["post_code"].notna()]

In [17]:
# add year and month
df["settlement_date"]=pd.to_datetime(df["settlement_date"])
df["year"]=df["settlement_date"].dt.year
df["month"]=df["settlement_date"].dt.month

In [20]:
df.head()

,district_code,download_datetime,locality,post_code,area,area_type,contract_date,settlement_date,purchase_price,zoning,nature_of_property,primary_purpose,component_code,year,month
0,1,2023-03-13 01:05:00,CESSNOCK,2325.0,2.503,H,2023-03-01,2023-03-03,6480000,RU2,3,COMMERCIAL,RAL,2023,3
1,1,2023-03-13 01:05:00,ELLALONG,2325.0,1500.000,M,2023-01-30,2023-03-02,780000,RU5,R,RESIDENCE,RAB,2023,3
2,1,2023-03-13 01:05:00,CLIFTLEIGH,2321.0,466.800,M,2023-01-30,2023-03-06,810000,R2,R,RESIDENCE,AAP,2023,3
3,1,2023-03-13 01:05:00,ABERDARE,2325.0,1012.000,M,2023-02-08,2023-03-07,670000,R2,R,RESIDENCE,AAD,2023,3
4,1,2023-03-13 01:05:00,CESSNOCK,2325.0,735.810,M,2023-02-14,2023-03-03,715000,R2,R,RESIDENCE,AAB,2023,3